<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :issue_intro %><br />
    <%= f.text_area :issue_intro %>
  </div>
  <div class="field">
    <%= f.label :has_been_released %><br />
    <%= f.check_box :has_been_released %>
  </div>
  <select data-placeholder="Choose a Journal..." class="chzn-select" id="issue_journal_id" name="issue[journal_id]" style="width:350px;" tabindex="4">
    <option value=""></option>
    <% current_user.journals.order("title").all.each do |journal| %>  
      <option value="<%= journal.id %>"><%= journal.title %></option> 
    <% end %> 
  </select>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
