<div class="login-box" style="background-color: white;">

		<%= form_tag sessions_path do %>

		    <input id="username" name="username" type="text" placeholder="Username" />

		    <input id="password" name="password" type="password" placeholder="Password" />


			<input name="commit" type="submit" class="submit" value="Log in" />

			<%= check_box_tag :remember_me, 1, params[:remember_me] %>
			<%= label_tag :remember_me %>
		<% end %>

</div>


<script>
  // Or, to start a slideshow, just pass in an array of images
  $.backstretch([
    "<%= asset_path('home_backgrounds/1.jpg') %>",
    "<%= asset_path('home_backgrounds/2.jpg') %>",
    "<%= asset_path('home_backgrounds/3.jpg') %>",
    "<%= asset_path('home_backgrounds/4.jpg') %>"   
  ], { fade: "slow", duration: 4000});

  $('.login-box')
    .shadow('lifted');
</script>