<div class="login-box" style="background-color: white;">
	<% unless current_user %>
	<%= form_tag sessions_path do %>
    <input id="username" name="username" type="text" placeholder="Username" />

    <input id="password" name="password" type="password" placeholder="Password" />

    <table>
    	<tbody>
    		<tr>
    			<td width="50px">
					<%= check_box_tag :remember_me, 1, params[:remember_me] %>
					<%= label_tag :remember_me %>
    			</td>
    			<td>
					<input name="commit" type="submit" value="Log in" />
    			</td>
    		</tr>
    	</tbody>
    </table>

  <div class="field">
    
  </div>
  <div class="actions"></div>
<% end %>
</div>
<% end %>

<script>
  // Or, to start a slideshow, just pass in an array of images
  $.backstretch([
    "<%= asset_path('home_backgrounds/1.jpg') %>",
    "<%= asset_path('home_backgrounds/2.jpg') %>",
    "<%= asset_path('home_backgrounds/3.jpg') %>",
    "<%= asset_path('home_backgrounds/4.jpg') %>"   
  ], { fade: "slow", duration: 4000});

  $('.login-box')
    .shadow('lifted');
</script>