<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br />
    <%= f.number_field :issue_id %>
  </div>
  <select data-placeholder="Choose a Template..." class="chzn-select" id="page_template_id" name="page[template_id]" style="width:350px;" tabindex="4">
    <option value=""></option>
    <% current_user.templates.order("name").all.each do |template| %>  
      <option value="<%= template.id %>"><%= template.name %></option> 
    <% end %> 
  </select>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
