<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br />
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :template_id %><br />
    <%= f.number_field :template_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
