<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @page.number %>
</p>

<p>
  <b>Issue:</b>
  <%= @page.issue_id %>
</p>

<p>
  <b>Template:</b>
  <%= @page.template_id %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
