<%= form_for(@journal) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <select data-placeholder="Choose a Category..." class="chzn-select" multiple style="width:350px;" tabindex="4">
    <option value=""></option>
    <% Category.order("name").all.each do |cat| %>  
      <option value="<%= cat.id %>"><%= cat.name %></option> 
    <% end %> 
  </select>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
