
<% @journals.each do |journal| %>
  <!--<tr>
    <td><%= link_to 'Show', journal %></td>
    <% if journal.user == current_user %>    
        <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
        <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
-->
  <div id="journals-box">
    <div class="logo">
        <%= image_tag "rails.png", :size => "100x150" %>

    </div>
    <%= journal.title %>
  </div>
  
<% end %>


<br />

<%= link_to 'New Journal', new_journal_path %>
