<!DOCTYPE html>
<html>
<head>
  <title>Unbound5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="navbar">
      <h1>
        <%= link_to "[Unbound*]", root_url %>
      </h1>
    
    <ul class="left-nav">
    </ul>
    <ul class="right-nav">
              
      <% if current_user %>
      <li>
        <%= link_to "Edit Profile (" + current_user.username + ")", edit_user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "Logout", :logout %>
      </li>
      <% else %>
      <li>
        <%= link_to "Register", new_user_path %> |
      </li>
      <li>
        <%= link_to "Login", :login %>
      </li>
      <% end %>
      </ul>
  </header>

  <div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
<div id="container">

<%= yield %>

</div>
<script type="text/javascript">
	$(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true});
</script>
<script src="jquery.backstretch.js"></script>

</body>
</html>
